{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <h1 class='text-6xl text-center pt-[6rem] pb-[6rem]'>Bienvenue sur BookStory !</h1>
    </div>

    <h2 class="text-5xl text-center mt-[3rem] mb-[2rem]">Jetez un coup d'oeil à nos derniers livres !</h2>

    <div class="book-container">
        {% for book in books %}
            <article>
                <a href="/book/{{ book.id }}" class="hover:text-red-700">
                    <h3 class="text-2xl">{{ book.title }}</h3>
                </a> 
                {% if book.cover == 'placeholder' %}
                    <img src="uploads/user/placeholder_book.jpg" alt="Couverture du livre" class="book-index-cover">
                {% else %}
                    <img src="uploads/user/{{ book.cover }}" alt="Couverture du livre" class="book-index-cover">
                {% endif %}
                <div>
                    <p>{{ book.description }}</p>
                    <div class="book-details text-xs">
                        <p>Auteur: {{ book.author.name }}</p>
                        <p>Année de parution: {{ book.publicationYear }}</p>
                    </div>
                    <div class="text-left">
                        <p> <i class="fa-regular fa-star"></i> {{ ratings[book.id] }}</p>
                    </div>
                </div>
            </article>
            <br>
        {% endfor %}
    </div>
{% endblock %}
