{% extends 'base.html.twig' %}
{% block body %}
<ul>
    {% for book in books %}
        <li>
            <h3>{{ book.title }} by {{ book.author.name }}, {{ book.publicationYear }}</h3>
            <p>{{ book.description }}</p>
            <img src="/uploads/user/{{ book.cover }}" alt="failure">
            <br>
        </li>
    {% endfor %}
</ul>
{% endblock %}
