{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2> {{ book.title }} </h2>
        <p>written by {{ book.author.name }} in {{ book.publicationYear }}</p>
        <p>Rating : {{ rating }}</p>
    </article>
    <div>
        {% for review in book.reviews %}
            <div>
                <div>
                    <p> {{ review.commenter.name }} </p>
                    <p>Le {{ review.getTimestampDate }}, à {{ review.getTimestampHour }} </p>
                </div>
                <p> {{ review.content }} </p>
                <p> {{ review.rating }} </p>
            </div>
        {% endfor %}
    </div>
        
{% endblock %}
